body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 10vw;
    background-color: #fff;
    cursor: default;
    margin: 0;
}

.container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#home .container {
    background-image: url(../images/picture1.jpg);
}

#home .button-container {
    width: 175px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(137deg, rgba(233,91,91,1) 0%, rgba(253,184,45,1) 100%) 1;

    background-image: rgb(233,91,91);
    background-image: linear-gradient(137deg, rgba(233,91,91,1) 0%, rgba(253,184,45,1) 100%);
    background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 2px;

    transition: all 0.5s; /* vendorless fallback */
    -o-transition: all 0.5s; /* opera */
    -ms-transition: all 0.5s; /* IE 10 */
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /*safari and chrome */
}

/* #home .button-container:hover {
    color: whitesmoke;
    background-clip: border-box;
    border-image: whitesmoke;
    transform: scale(1.05);
} */

#home .button-container:active {
    color: whitesmoke;
    background-clip: border-box;
    border-image: whitesmoke;
    transform: scale(0.95) translateY(5px);
}





.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }


