a {
    text-decoration: none;
}

h3 {
    margin: 0;
}

.transition-default {
    transition: all 0.75s ease; /* vendorless fallback */
    -o-transition: all 0.75s ease; /* opera */
    -ms-transition: all 0.75s ease; /* IE 10 */
    -moz-transition: all 0.75s ease; /* Firefox */
    -webkit-transition: all 0.75s ease; /*safari and chrome */
}

#side-bar {
    position: fixed;
    height: 100vh;
    top: 0;
    
    transform: translateX(-250px);

    background-color: #fff;
    width: 250px;
}

.side-container {
    position: relative;
}

#side-bar h2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    padding: 5px;
    padding-right: 50px;
    margin-left: 25px;
    background-color: black;
    color: #fff;

    transform: translateX(-75px);

    font-weight: 800;
    font-size: 35px;
}

#side-bar span {
    margin-left: 5px;
}

#side-bar .button-container {
    display: flex;
    height: 100vh;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#download-button:before {
    background: linear-gradient(
        125deg,
        #000 0%,
        #e95b5b 75%,
        #fdb82e 100%
    );
    background-position: 0% 0%;
    background-size: 400% 100%;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0px;

    transition: background-position 750ms ease;
}

#download-button:hover:before {
    background-position: 100% 0%;
}

#download-button {
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80%;
}

#download-button:hover {
    transform: scale(1.05);
}

#download-button:hover .button-inside {
    background-color: transparent;
}

#download-button .button-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 10;
    color: #000;

    background-color: #fff;
}

#spin-again {
    display: flex;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    color: #000;

    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80%;
}

#spin-again:hover {
    background-color: #000;
    color: #fff;
}

#made-with {
    position: absolute;
    top: calc(100vh - 100px);
    padding: 5px;
    text-align: center;
}

.fa-solid {
    color: #fcb82c;
}

#made-with a {
    color: #e95c5b;
}
